@model ShopApp.UI.Models.Product.ProductListViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("CategoryList")
    </div>
    <div class="col-md-9">
        <partial name="_Slider" />
        <div class="row">
            @foreach (var item in Model.Products)
            {
                <partial name="_Product" for="@item" />
            }
        </div>
    </div>
</div>