
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>Yetkisiz Erişim</h1>
<hr/>
<div class="alert alert-danger">
    <h4>Yetkinizin olmadığı bir sayfaya gitmeye çalışıyorsunuz. Bunun için sistem yetkilisi ile irtibata geçmenizi öneririz.</h4>
</div>
<a href="/" class="btn btn-primary">Anasayfa</a>